.admin-add-suplement-container {
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  background-color: #f5f5f5;
}

.admin-add-suplement-title {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #333333, #000000);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.admin-add-suplement-back-container {
  display: flex;
  justify-content: flex-start; 
  padding: 10px;
  width: 100%;
}

.admin-add-suplement-back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-add-suplement-back-button:hover {
  background-color: #0056b3;
}

.admin-add-suplement-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 95%;
}
  

.admin-add-suplement-form-group {
  margin-bottom: 15px;
}

.admin-add-suplement-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.admin-add-suplement-input,
.admin-add-suplement-textarea,
.admin-add-suplement-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.admin-add-suplement-input:focus,
.admin-add-suplement-textarea:focus,
.admin-add-suplement-select:focus {
  border-color: #007bff;
  outline: none;
}

.admin-add-suplement-textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-add-suplement-submit-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.admin-add-suplement-submit-button:hover {
  background-color: #218838;
}

.admin-add-suplement-submit-button:focus {
  outline: none;
}


.division-form-entry{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

.left{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
  height: fit-content;
}

.right{
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 100%;
  height: fit-content;
}

.division-form-button{
  margin-top: 3%;
}


.uploaded-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;


  max-height: 100%;
  /*border: 2px solid rgba(0, 0, 0, 0.2);
  border-color: #e60000;*/
}

.uploaded-image {
  width: 60%;  
  height: 60%;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  margin-bottom: 10px;
}

.remove-image-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.remove-image-button:hover {
  background-color: #e60000;  
}
