.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-position: center;  
  background-repeat: no-repeat; 
  background-color:#f0f0f0;
  background-size: 100%;
  height: 100vh;
}

.login-logo {
  width: 150px; /* Ajusta el tamaño del logo según sea necesario */
  margin-bottom: 20px;
}

form {
  background-color: #FFFFFF; /* Blanco para el fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-group {
  margin-bottom: 15px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  color: #333333; /* Gris oscuro para las etiquetas */
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #CCCCCC; /* Gris medio para los bordes */
  border-radius: 4px;
  box-sizing: border-box;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #666666; /* Gris oscuro para el botón */
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-bottom: 15px;
}

.forgot-password-button:hover {
  color: #333333; /* Gris más oscuro al pasar el mouse */
}

.login-button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Aumentar el espaciado entre los botones */
}

.login-button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button-login {
  background-color: #666666; /* Gris oscuro para el botón de inicio de sesión */
  color: #FFFFFF; /* Blanco para el texto */
}

.login-button-register {
  background-color: #333333; /* Gris oscuro para el botón de registro */
  color: #FFFFFF; /* Blanco para el texto */
}

.login-button:hover {
  background-color: #CCCCCC; /* Gris medio para el fondo del botón al pasar el mouse */
}
