/* Contenedor de la barra de fuerza de la contraseña */
.password-strength-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 5px;
  overflow: hidden;
}

/* Diferentes niveles de fuerza de la contraseña */
.password-strength-level {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.level-0 .password-strength-level,
.level-1 .password-strength-level {
  background-color: red; /* Contraseña débil */
}

.level-2 .password-strength-level {
  background-color: orange; /* Contraseña débil */
}

.level-3 .password-strength-level {
  background-color: yellow; /* Contraseña media */
}

.level-4 .password-strength-level {
  background-color: yellowgreen; /* Contraseña fuerte */
}

.level-5 .password-strength-level {
  background-color: green; /* Contraseña muy fuerte */
}

/* Estilo para el texto de fuerza de la contraseña */
.password-strength-text {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.level-0 .password-strength-text,
.level-1 .password-strength-text {
  color: red; /* Texto para contraseñas débiles */
}

.level-2 .password-strength-text {
  color: orange; /* Texto para contraseñas medias */
}

.level-3 .password-strength-text {
  color: yellow; /* Texto para contraseñas fuertes */
}

.level-4 .password-strength-text {
  color: yellowgreen; /* Texto para contraseñas fuertes */
}

.level-5 .password-strength-text {
  color: green; /* Texto para contraseñas muy fuertes */
}
