body {
  background-color: #F0F0F0; /* Gris claro para el fondo */
  color: #333333; /* Texto en gris oscuro */
  background-image: url('../assets/fondogym2.png'); /* Cambia esta ruta por la de tu imagen */
  background-size: cover;  /* Ajusta el tamaño de la imagen */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.register-logo {
    position: absolute;
    width: 150px; /* Ajusta el tamaño del logo según sea necesario */
    bottom: 550px;
    right: 1350px;

  }
.register-form {
    width: 1000px; /* Ancho del formulario aumentado */
    background-color: #FFFFFF; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    position: relative; /* Asegura que el botón de cerrar se posicione correctamente */
}

.close-button {
    position: absolute;
    right: 20px; /* Ajustar la posición del botón de cerrar */
    top: 20px; /* Ajustar la posición del botón de cerrar */
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff; /* Color de la X en gris oscuro */
    cursor: pointer;
}

.titulo-form {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff; /* Color del título */
}

.register-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.register-form-group {
    flex: 1;
    margin-right: 10px;
}

.register-form-group:last-child {
    margin-right: 0;
}

.register-label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Color de las etiquetas */
}

.register-input, .register-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #F9F9F9; /* Fondo gris claro */
    color: #333333; /* Color del texto */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.password-container {
    position: relative;
}

.password-toggle-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.register-button-group {
    text-align: center;
}

.register-submit-button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #666666; /* Gris oscuro para el botón de inicio de sesión */
    color: #FFFFFF; /* Blanco para el texto */
    font-size: 16px;
    cursor: pointer;
}

.register-submit-button:hover{
    background-color: #CCCCCC;
}